{% extends "base.html" %}

{% block content %}

  
  <div class="container">

    <h1>My Tasks</h1>
   
    
<form action="{{ url_for('tasks')}}" method="post">
  
  {{ form.hidden_tag() }}

       {{ form.title.label(class="form-label") }}
       {{ form.title(size=100, class="form-control w=50") }}
  
       {{ form.description.label(class="form-label") }}
       {{ form.description(class="form-control w=50") }}

    
       {{ form.completed.label(class="form-label") }}
       {{ form.completed(class="form-checkbox ") }}
<div>     
    {{ form.submit }}
</div>

      </form>



{% endblock %}